# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.venv/
__pypackages__/

# Environment files & secrets
.env
.env.*
secrets.json

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Build / distribution
dist/
build/
*.egg-info/
pip-wheel-metadata/

# Logs
*.log

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Alembic compiled files
alembic/*.pyc
alembic/versions/*.pyc
